RewriteEngine On

# Nếu URL là thư mục gốc và không có chỉ định file cụ thể, chuyển hướng đến index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^$ index.php [L]

# Nếu yêu cầu không phải là file hoặc thư mục có sẵn, chuyển hướng đến index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [L]
